<footer>
    <div class="container">
      <p>Email: Quast@mail.com</p>
      <p>Tel.: 01712344567</p>
      <p>&copy; 2024 Johann Quast</p>
      <div class="social-media">
        <a href="https://instagram.com/">Instagram</a>
        <a href="https://facebook.com/">Facebook</a>
      </div>
    </div>
  </footer>