<header>
    <div class="container">
      <a href="/" class="logo">
        <img src="/logo.png" alt="Johann Quast Logo">
      </a>
      <nav>
        <ul>
          <li><a href="#">Startseite</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Aktuelles</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
    </div>
  </header>