<section class="services">
    <h2>Unsere Leistungen im Überblick</h2>
    <div class="service-items">
      <div class="service-item">
        <img src="/images/service1.png" alt="Service 1">
        <h3>Service 1</h3>
        <p>Beschreibung von Service 1.</p>
      </div>
      <div class="service-item">
        <img src="/images/service2.png" alt="Service 2">
        <h3>Service 2</h3>
        <p>Beschreibung von Service 2.</p>
      </div>
      <div class="service-item">
        <img src="/images/service2.png" alt="Service 2">
        <h3>Service 3</h3>
        <p>Beschreibung von Service 3.</p>
      </div>
    </div>
  </section>